html,
body {
  height: 100%;
}

body {
  margin: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1 {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.form-contents {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/*Remove number spinners Chrome
Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Remove number spinners Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
